<!DOCTYPE html>

<html>

<head>

    <title>@ViewData["title"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />

</head>

<body>

    <h1>@ViewData["title"]</h1>

    <div class="body">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)

</body>

</html>
