<p class="center">
    <a class="button" href="?do=signin&amp;region=region1">Region 1</a>
</p>

<p class="center">
    <a class="button" href="?do=signin&amp;region=region2">Region 2</a>
</p>

<p class="center">
    <a class="button" href="?do=signin&amp;region=unknown_region">Unknown Region</a>
</p>
