<form method="get" enctype="multipart/form-data">

    <input value="signin" type="hidden" name="do" />
    <p>
        <label for="username">Username</label>
        <br />
        <input type="text" id="username" name="username" class="form-input-text" />
    </p>

    <p>
        <label for="password">Password</label>
        <br />
        <input type="password" id="password" name="password" class="form-input-password" />
    </p>

    <p class="">
        <input class="button" type="submit" value="Login" name="submit" />
    </p>

</form>
